<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='js/hilitor.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#excerpt").click(function () {
                $(".excerpt").toggle();
            });
            var url = new URL(window.location.href);
            var keywords = url.searchParams.get('searchFor');
            var myHilitor = new Hilitor("content");
            myHilitor.apply(keywords);
        });
    </script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="{{ url_for('search') }}">
                <img src="{{ url_for('static', filename='css/icon.png') }}" style="max-height: 40px;">
            </a>
            <a class="navbar-brand mr-auto" href="#">{{ quantity }} documents for: {{ keywords_display }}</a>
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('results') }}">
                <input type="hidden" name="searchBy" value="keywords">
                <input class="form-control mr-sm-2" type="search" name="searchFor" placeholder="Search" value="{{ keywords }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container mt-4" id="content">
    <!-- sort by -->
    <nav>
        <div class="nav nav-tabs">
            <a class="nav-item nav-link{{ sort_by['relevance']['style'] }}"
               href="{{ sort_by['relevance']['url'] }}">By relevance</a>
            <a class="nav-item nav-link{{ sort_by['date']['style'] }}"
               href="{{ sort_by['date']['url'] }}">By date</a>
        </div>
    </nav>
    <div class="mt-4">
        <!-- show excerpt -->
        <form>
            <div class="form-check mb-4">
                <input type="checkbox" class="form-check-input" id="excerpt">
                <label class="form-check-label" for="excerpt">Show Excerpt</label>
            </div>
        </form>
        <!-- pagination top -->
        <nav>
            <ul class="pagination">
                {% for page in pages %}
                    <li class="page-item{{ page['style'] }}">
                        <a class="page-link" href="{{ page['url'] }}">{{ page['id'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <!-- results -->
        <table class="table table-striped">
            {% for document in results %}
                <tr>
                    <td>
                        <a href="{{ document.url if high else document.url_plain }}">{{ document.title }}</a>
                        <p class="excerpt" style="display: none;">{{ document.excerpt }}</p>
                        <div>
                            <span>{{ document.author }}</span>
                            <span> @ </span>
                            <span>{{ document.date.strftime('%d %B %Y') }}</span>
                            <span style="float:right;">Relevance: {{ document.relevance100 }}</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- pagination bottom -->
        <nav>
            <ul class="pagination">
                {% for page in pages %}
                    <li class="page-item{{ page['style'] }}">
                        <a class="page-link" href="{{ page['url'] }}">{{ page['id'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</div>

</body>
</html>