<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLCSE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#advanced").click(function () {
                window.location.href = "{{ url_for('advanced') }}";
            });
        });
    </script>
    <style>
        html {
            background-image: url('{{ url_for('static', filename='css/background.jpg') }}');
            background-repeat: no-repeat;
            background-size: cover;
        }
        body {
            background: rgba(255, 255, 255, 0.75);
        }
    </style>
</head>
<body class="text-center">
<form class="search-form" method="get" action="{{ url_for('results') }}">
    <h1>SLCSE</h1>
    <h6>Similar Legal Cases Search Engine</h6>
    <div class="input-group mt-5">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <div class="dropdown">
                    <div class="btn dropdown-toggle" type="button" data-toggle="dropdown"></div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item active" id="full" type="button">Simple Search</button>
                        <button class="dropdown-item" id="advanced" type="button">Advanced Search</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="searchBy" value="keywords">
        <input type="text" class="form-control" name="searchFor" placeholder="Search all categories" required autofocus>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Search</button>
    <p class="mt-5 text-muted">UNSW-PPAP &copy; 2018</p>
</form>
</body>
</html>
